<h1>Strangest Places</h1>

<p>
	They take me away from</br>
	<%= link_to "The strangest places", :action => "video" %> <!-- 會自動去找匹配的網頁 -->
	<!-- 標準： link_to "", {:controller => "", :action => "" } -->
	<!-- 會產生： a href="/controller/action">"" </a> --> 
</p>

<p>I'm on the radio</p>

<p>
	The time is now:
	<%= @time %> <!-- 甚至routes.rb沒有調用controller的方法，Rails也會自動去找controller裡的方法 -->
</p>

<p>
	In one hout's time it will be:
	<%= 1.hour.from_now %>
</p>

<% for i in 2..4 %>
	<p>
		In <%= i %> hour's time it will be:
		<%= i.hour.from_now %>
	</p>
<% end %>